$arrow-color: rgb(70, 70, 70);
$arrow-size: 30px;
$border-radius: 8px;
$btn-background: #f1f1f1;
$btn-height: 150px;
$btn-hover-background: #e0e0e0;
$bg-main: linear-gradient(-135deg, #ffa200 0%, #6eda78 100%);
$shape-background: #e0e0e0;
$text-background: #57c21d;
$text-color: #fff;
$text-padding: 0.25rem 0.5rem;
$shape-hover-background: #d1d1d1;